.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  background: var(--token-O56EqRgl9_HgwE);
  min-width: 0;
  min-height: 0;
  padding: 12px 0px 0px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 8px 0px 0px;
  }
}
.freeBox__rydAb {
  flex-direction: row;
  display: flex;
  width: 100%;
  position: relative;
  margin-top: calc(0px + 16px) !important;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  min-width: auto;
  max-width: none;
  padding: 0px 16px 16px;
}
.freeBox__rydAb > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__rydAb > :global(.__wab_flex-container) > *,
.freeBox__rydAb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rydAb > :global(.__wab_flex-container) > picture > img,
.freeBox__rydAb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rydAb {
    width: 100%;
    margin-top: calc(0px + 16px) !important;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__rydAb > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.freeBox__o4F7N {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  max-width: 1080px;
  min-width: 0;
}
.freeBox__o4F7N > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__o4F7N > :global(.__wab_flex-container) > *,
.freeBox__o4F7N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__o4F7N > :global(.__wab_flex-container) > picture > img,
.freeBox__o4F7N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o4F7N {
    display: flex;
    flex-direction: row;
    padding: 0px 12px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o4F7N > :global(.__wab_flex-container) {
    flex-direction: row;
    align-items: center;
    margin-left: calc(0px - 16px);
    width: calc(100% + 16px);
    margin-top: calc(0px - 0px);
    height: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__o4F7N > :global(.__wab_flex-container) > *,
  .freeBox__o4F7N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__o4F7N > :global(.__wab_flex-container) > picture > img,
  .freeBox__o4F7N
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 16px;
    margin-top: 0px;
  }
}
.text__ap5A2 {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  font-size: 56px;
  font-weight: 700;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ap5A2 {
    font-size: 24px;
    font-weight: 700;
  }
}
.freeBox__cxxez {
  flex-direction: row;
  display: flex;
  position: relative;
}
.freeBox__cxxez > :global(.__wab_flex-container) {
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__cxxez > :global(.__wab_flex-container) > *,
.freeBox__cxxez > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__cxxez > :global(.__wab_flex-container) > picture > img,
.freeBox__cxxez
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cxxez > :global(.__wab_flex-container) {
    flex-wrap: wrap;
    justify-content: center;
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cxxez > :global(.__wab_flex-container) > *,
  .freeBox__cxxez > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__cxxez > :global(.__wab_flex-container) > picture > img,
  .freeBox__cxxez
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 8px;
  }
}
.accountButton:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__zMZvA {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__jqEu5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__pqxcQ {
  display: flex;
  position: relative;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 0;
  max-width: 800px;
  width: 100%;
  left: auto;
  top: auto;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.columns__pqxcQ > :nth-child(4n + 1) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__pqxcQ > :nth-child(4n + 2) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__pqxcQ > :nth-child(4n + 3) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__pqxcQ > :nth-child(4n + 4) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pqxcQ {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pqxcQ > :nth-child(2n + 1) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pqxcQ > :nth-child(2n + 2) {
    width: calc((100% - 2 * 0px) * 6 / 12);
  }
}
.column__qrLtF {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
.select__vvE3C:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.text__yQsUg {
  height: auto;
}
.option__jeTYa:global(.__wab_instance) {
  position: relative;
}
.option__mz0Ti:global(.__wab_instance) {
  position: relative;
}
.column__jALj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
.button__b3CIx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
}
.svg__vMc9I {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__qWAj {
  color: #f0ead2;
}
.svg__iCbHk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__cOlJj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
.select___2RwIh:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.option__x1Wcr:global(.__wab_instance) {
  position: relative;
}
.option__kxNc2:global(.__wab_instance) {
  position: relative;
}
.column__x0Lg9 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
.button__plbip:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  width: 100%;
  min-width: 0;
  display: flex;
}
.svg__lsqHq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__nlAvw {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.columns__g2Pp7 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 750px;
  background: #a98467;
  transform: translateX(0px) translateY(0px) translateZ(0px);
  min-width: 0;
  border-radius: 6px;
  padding: 0px;
}
.columns__g2Pp7 > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__g2Pp7 > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__g2Pp7 > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__g2Pp7 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 90%;
    align-self: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__g2Pp7 > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__g2Pp7 > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__g2Pp7 > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column__lsbh3 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.textInput__osRih:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__eMlJo {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-LXMrYF0YunK1LI);
}
.svg__wTklL {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__mj6E8 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.textInput__zZcIl:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__fc9Sk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-LXMrYF0YunK1LI);
}
.svg__wcVt {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__ssMmB {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.textInput__iTPf:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__rNsg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-LXMrYF0YunK1LI);
}
.svg__eOIuW {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__jTj8L {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__v2FzK {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.column__hgXbj {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 8px;
}
.button__bRpK7:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__vBPqf {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__aC3Ky {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__dv2B9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  padding: 8px;
}
.columns__nsf1Z {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 800px;
  flex-grow: 0;
  min-width: 0;
  padding: 0px 8px;
  margin: 0px 0px 6px;
}
.columns__nsf1Z > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - -2px);
  width: calc(100% + -2px);
}
.columns__nsf1Z > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * -2px) * 2 / 12);
}
.columns__nsf1Z > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * -2px) * 6 / 12);
}
.columns__nsf1Z > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * -2px) * 3 / 12);
}
.columns__nsf1Z > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * -2px) * 1 / 12);
}
.columns__nsf1Z > :global(.__wab_flex-container) > *,
.columns__nsf1Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__nsf1Z > :global(.__wab_flex-container) > picture > img,
.columns__nsf1Z
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: -2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nsf1Z {
    width: 100%;
    height: auto;
    flex-direction: row;
    max-width: 503px;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nsf1Z > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - -2px);
    width: calc(100% + -2px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nsf1Z > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * -2px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nsf1Z > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * -2px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nsf1Z > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * -2px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nsf1Z > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * -2px) * 2 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nsf1Z > :global(.__wab_flex-container) > *,
  .columns__nsf1Z > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__nsf1Z > :global(.__wab_flex-container) > picture > img,
  .columns__nsf1Z
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: -2px;
  }
}
.column__qcjJ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #ffffff;
  min-width: 0;
  padding: 0px;
}
.img__ts377 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  width: 100%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ts377 > picture > img {
  object-fit: cover;
}
.img__ts377 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ts377 {
    height: 100%;
    object-fit: cover;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ts377 > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ts377 > .__wab_img-spacer > img {
    object-fit: cover;
  }
}
.column__j7HPf {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #adc178;
  min-width: 0;
  padding: 0px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__j7HPf {
    justify-content: flex-start;
    align-items: center;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
.columns__myApw {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.columns__myApw > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__myApw > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__myApw {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__myApw > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__cXycO {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__ny5Ux {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 26px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ny5Ux {
    font-size: 18px;
  }
}
.column__y1Oqv {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__y1Oqv {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
  }
}
.text__xwMd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xwMd {
    font-size: 10px;
    display: block;
  }
}
.text__b72XU {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__b72XU {
    font-size: 10px;
    display: block;
  }
}
.column__larZa {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #adc178;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__larZa {
    padding: 0px 4px;
  }
}
.wateredButton__mCqxn:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wateredButton__mCqxn:global(.__wab_instance) {
    margin: 0px;
  }
}
.svg__vkUsg {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg___4VhSu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__svIey {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #adc178;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  min-width: 0;
  padding: 0px;
}
.svg___7VvoI {
  position: relative;
  object-fit: cover;
  max-width: 30%;
  color: #ffffff;
  width: 100%;
  height: 100%;
  max-height: 30%;
  min-width: 0;
  min-height: 0;
}
.columns__y0Iru {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 800px;
  flex-grow: 0;
  min-width: 0;
  padding: 0px 8px;
  margin: 0px 0px 6px;
}
.columns__y0Iru > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - -2px);
  width: calc(100% + -2px);
}
.columns__y0Iru > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * -2px) * 2 / 12);
}
.columns__y0Iru > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * -2px) * 6 / 12);
}
.columns__y0Iru > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * -2px) * 3 / 12);
}
.columns__y0Iru > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * -2px) * 1 / 12);
}
.columns__y0Iru > :global(.__wab_flex-container) > *,
.columns__y0Iru > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__y0Iru > :global(.__wab_flex-container) > picture > img,
.columns__y0Iru
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: -2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y0Iru {
    width: 100%;
    height: auto;
    flex-direction: row;
    max-width: 503px;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y0Iru > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - -2px);
    width: calc(100% + -2px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y0Iru > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * -2px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y0Iru > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * -2px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y0Iru > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * -2px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y0Iru > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * -2px) * 2 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__y0Iru > :global(.__wab_flex-container) > *,
  .columns__y0Iru > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__y0Iru > :global(.__wab_flex-container) > picture > img,
  .columns__y0Iru
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: -2px;
  }
}
.column__oRvpS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #ffffff;
  min-width: 0;
  padding: 0px;
}
.img__vScJd {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  width: 100%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__vScJd > picture > img {
  object-fit: cover;
}
.img__vScJd > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__vScJd {
    height: 100%;
    object-fit: cover;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__vScJd > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__vScJd > .__wab_img-spacer > img {
    object-fit: cover;
  }
}
.column__zhcM {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #adc178;
  min-width: 0;
  padding: 0px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zhcM {
    justify-content: flex-start;
    align-items: center;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
.columns__tMze {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  min-width: 0;
  padding: 8px;
}
.columns__tMze > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__tMze > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tMze {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tMze > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__m9ToX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px;
}
.text__yhj1Y {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 26px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__yhj1Y {
    font-size: 18px;
  }
}
.column__jFqsi {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__jFqsi {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
  }
}
.text__mjGYz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__mjGYz {
    font-size: 10px;
    display: block;
  }
}
.text___8SUt {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___8SUt {
    font-size: 10px;
    display: block;
  }
}
.column__c9RhX {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #adc178;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__c9RhX {
    padding: 0px 4px;
  }
}
.wateredButton__vZk4V:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wateredButton__vZk4V:global(.__wab_instance) {
    margin: 0px;
  }
}
.svg__ePyQk {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__yMp6Y {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__cVyjy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #adc178;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  min-width: 0;
  padding: 0px;
}
.svg__lVvV {
  position: relative;
  object-fit: cover;
  max-width: 30%;
  color: #ffffff;
  width: 100%;
  height: 100%;
  max-height: 30%;
  min-width: 0;
  min-height: 0;
}
.freeBox__kbhRn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.columns__pGql4 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  max-width: 800px;
  flex-grow: 0;
  min-width: 0;
  padding: 0px 8px;
  margin: 0px;
}
.columns__pGql4 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - -2px);
  width: calc(100% + -2px);
}
.columns__pGql4 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
  width: calc((100% - 4 * -2px) * 2 / 12);
}
.columns__pGql4 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
  width: calc((100% - 4 * -2px) * 6 / 12);
}
.columns__pGql4 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
  width: calc((100% - 4 * -2px) * 3 / 12);
}
.columns__pGql4 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
  width: calc((100% - 4 * -2px) * 1 / 12);
}
.columns__pGql4 > :global(.__wab_flex-container) > *,
.columns__pGql4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__pGql4 > :global(.__wab_flex-container) > picture > img,
.columns__pGql4
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: -2px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pGql4 {
    width: 100%;
    height: auto;
    flex-direction: row;
    max-width: 503px;
    min-width: 0;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pGql4 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-left: calc(0px - -2px);
    width: calc(100% + -2px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pGql4 > :global(.__wab_flex-container) > :nth-child(4n + 1) {
    width: calc((100% - 4 * -2px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pGql4 > :global(.__wab_flex-container) > :nth-child(4n + 2) {
    width: calc((100% - 4 * -2px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pGql4 > :global(.__wab_flex-container) > :nth-child(4n + 3) {
    width: calc((100% - 4 * -2px) * 3 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pGql4 > :global(.__wab_flex-container) > :nth-child(4n + 4) {
    width: calc((100% - 4 * -2px) * 2 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pGql4 > :global(.__wab_flex-container) > *,
  .columns__pGql4 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__pGql4 > :global(.__wab_flex-container) > picture > img,
  .columns__pGql4
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: -2px;
  }
}
.column__g2OVh {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  background: #ffffff;
  min-width: 0;
  padding: 0px;
}
.img__ismt {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  align-self: flex-start;
  width: 100%;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.img__ismt > picture > img {
  object-fit: cover;
}
.img__ismt > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ismt {
    height: 100%;
    object-fit: cover;
    min-height: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ismt > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ismt > .__wab_img-spacer > img {
    object-fit: cover;
  }
}
.column__zou4G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #adc178;
  min-width: 0;
  padding: 0px 0px 0px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__zou4G {
    justify-content: flex-start;
    align-items: center;
    padding-left: 0px;
    padding-bottom: 0px;
  }
}
.columns__agakI {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  align-self: center;
  min-width: 0;
  padding: 0px 8px;
}
.columns__agakI > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__agakI > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__agakI {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 0px;
    padding-bottom: 0px;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__agakI > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__uweI {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  padding: 0px;
}
.text__sMznl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 26px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sMznl {
    font-size: 18px;
  }
}
.text__aqFtA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-size: 12px;
  min-width: 0;
}
.column__uWv7W {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__uWv7W {
    padding-left: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
  }
}
.text__sYqqX {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__sYqqX {
    font-size: 10px;
    display: block;
  }
}
.text__wyNJg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__wyNJg {
    font-size: 10px;
    display: block;
  }
}
.column__lnb33 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #adc178;
  min-width: 0;
  padding: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__lnb33 {
    padding: 0px 4px;
  }
}
.wateredButton__iyA1V:global(.__wab_instance) {
  position: relative;
  align-self: center;
}
@media (min-width: 0px) and (max-width: 768px) {
  .wateredButton__iyA1V:global(.__wab_instance) {
    margin: 0px;
  }
}
.svg__bToKy {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__hrlc5 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column___5Q5Jx {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  background: #adc178;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  cursor: pointer;
  pointer-events: auto;
  min-width: 0;
  padding: 0px;
}
.svg__upmGz {
  position: relative;
  object-fit: cover;
  max-width: 30%;
  color: #ffffff;
  width: 100%;
  height: 100%;
  max-height: 30%;
  min-width: 0;
  min-height: 0;
}
.freeBox__sb36I {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 97%;
  background: var(--token-whFSWXdm6PZi1x);
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
  min-width: 0;
  padding: 8px;
}
.text__z8Uju {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  align-self: auto;
  text-align: center;
  color: var(--token-LXMrYF0YunK1LI);
  font-size: 20px;
  min-width: 0;
}
.columns___5L5MS {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  background: var(--token-whFSWXdm6PZi1x);
  min-width: 0;
  border-radius: 0px 0px 6px 6px;
  padding: 0px 8px;
}
.columns___5L5MS > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns___5L5MS > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns___5L5MS > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5L5MS {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5L5MS > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5L5MS > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___5L5MS > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column__rztyQ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
.text__kkLs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 16px;
  color: var(--token-LXMrYF0YunK1LI);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__kkLs {
    display: block;
  }
}
.textInput__bmtrb:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__qLpIu {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-LXMrYF0YunK1LI);
}
.svg__afCSv {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__nuCqz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 0px 8px 8px;
}
.text__qBzQc {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 16px;
  color: var(--token-LXMrYF0YunK1LI);
  min-width: 0;
}
.textInput___7OZrU:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__guqPq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-LXMrYF0YunK1LI);
}
.svg__jpPgj {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__qzCdo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 0px 8px 8px;
}
.text___5LuRz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 16px;
  text-align: left;
  color: var(--token-LXMrYF0YunK1LI);
  min-width: 0;
  display: block;
}
.select__fb670:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__m9AGx {
    font-size: 12px;
  }
}
.option__ufpwy:global(.__wab_instance) {
  position: relative;
}
.option__tarja:global(.__wab_instance) {
  position: relative;
}
.column__ejp8G {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 0px 8px 8px;
}
.text__pWzbK {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 16px;
  color: var(--token-LXMrYF0YunK1LI);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__pWzbK {
    display: block;
  }
}
.button__qaJtQ:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__mcfwx {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__qyNWn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__eKIuS {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  padding: 0px 8px 8px;
}
.text__gzvkG {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 16px;
  color: var(--token-LXMrYF0YunK1LI);
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__gzvkG {
    display: block;
  }
}
.textInput__pBVi:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___8IdO8 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
  color: var(--token-LXMrYF0YunK1LI);
}
.svg__nM3D7 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.column__okC1X {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: flex-end;
  align-items: stretch;
  min-width: 0;
  padding: 0px 8px 8px;
}
.button__jo4F6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__jyz9F {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__mr2NK {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__yUkVc {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  max-width: 100%;
  background: var(--token-O56EqRgl9_HgwE);
  min-height: 2px;
  min-width: 0;
  padding: 0px;
}
.columns__zcZ6B {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__zcZ6B > :nth-child(3n + 1) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__zcZ6B > :nth-child(3n + 2) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
.columns__zcZ6B > :nth-child(3n + 3) {
  width: calc((100% - 3 * 0px) * 4 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zcZ6B {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zcZ6B > :nth-child(3n + 1) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zcZ6B > :nth-child(3n + 2) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__zcZ6B > :nth-child(3n + 3) {
    width: calc((100% - 3 * 0px) * 4 / 12);
  }
}
.column__oa9Mu {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.select__gndw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___5VaSa {
    font-size: 12px;
  }
}
.option__wUz4:global(.__wab_instance) {
  position: relative;
}
.option__m5BJu:global(.__wab_instance) {
  position: relative;
}
.column__tc7MA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.text__t0Heq {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  color: var(--token-LXMrYF0YunK1LI);
  text-align: center;
  font-size: 20px;
  min-width: 0;
}
.column__t5Ib4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.button__uUkRt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__sEuxC {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__bnM68 {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.freeBox__tQx25 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.wateringHistoryRow__guTLi:global(.__wab_instance) {
  position: relative;
}
.wateringHistoryRow___278S:global(.__wab_instance) {
  position: relative;
}
.wateringHistoryRow__yix2K:global(.__wab_instance) {
  position: relative;
}
.columns__gZb {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 0px;
}
.columns__gZb > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gZb {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__gZb > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__n5Vk {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.freeBox__r9Xey {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__gE14K:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  max-height: 50px;
}
.svg__eojJr {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__mekEq {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.text__fuW6V {
  position: relative;
  width: auto;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 20px;
  color: var(--token-LXMrYF0YunK1LI);
  margin: 0px 16px;
}
.button__n1Pf6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__guDgn {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.svg__lgKss {
  position: relative;
  object-fit: cover;
  width: 1em;
  height: 1em;
}
.h1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 32px;
  color: #dde5b6;
  flex-grow: 0;
  min-width: auto;
  display: block;
  padding: 16px;
}
.text__lVbHe {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  display: block;
  padding: 16px;
}
.text__f4SEd {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
  display: block;
  padding: 16px;
}
